<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



      <div class="container">
      <h1>Profile</h1>
            <p>Username: {{ user }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }} </p>
            <p>Phone Number:{{ user.profile.phone_number }} </p>
            <p>Picture:<br><img src="{{ user.profile.picture.url }}" width="240px" height="240px"/> </p>


            <a href="{% url 'userlogin.edit_profile' %}">Edit Profile</a><br>
            <a href="#">Change your password here !</a>
      </div>

</body>
</html>